* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 100;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .75s ease-out;
  transition: transform .75s ease-out;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"]{
    display:none;
}

input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

input[type="checkbox"]:checked ~ .grid { opacity: .125; }

.grid {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  padding: 16px;
  overflow: auto;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
}

.grid .grid-item {
  display: inline-block;
  padding: 16px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.grid .grid-item:hover { opacity: 1; }
@media screen and (max-width: 1024px) {

.grid .grid-item { width: 50%; }
}
@media screen and (max-width: 480px) {

.grid .grid-item { width: 100%; }
}

.grid img {
  width: 150px;
  height: 150px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
      vertical-align: middle !important;
      text-align:center;
 }
 
.table-left>tbody>tr>td, 
.table-left>tbody>tr>th, 
.table-left>tfoot>tr>td, 
.table-left>tfoot>tr>th, 
.table-left>thead>tr>td, 
.table-left>thead>tr>th {
      vertical-align: middle !important;
      text-align:left;
 }
.nav-pills .nav-link {
    border-radius: 0px !important;
}

.nav-sidebar > .nav-item {
    margin-bottom: 0px !important;
    border-bottom: 1px solid #4b545c;
}
.nav-sidebar .nav-item > .nav-link {
    margin-bottom: 0px !important;
}

.sidebar {
    height: calc(100% - (3.5rem + 1px));
    overflow-y: auto;
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
}

#loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
}


.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-container-2 iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
@font-face {
    font-family: BenSenHandwriting;
    src: url(fontes/BenSenHandwriting.ttf);
}

@font-face {
    font-family: kalpurush;
    src: url(fontes/kalpurush.ttf);
}

